---
title: Test
author: Ekaterina
date: '2018-01-01'
slug: test
categories: []
tags: []
---



<pre class="r"><code>getwd()</code></pre>
<pre><code>## [1] &quot;/home/ekaterina/m2_G2M/website/content/post&quot;</code></pre>
<pre class="r"><code>a &lt;- 18
print(a)</code></pre>
<pre><code>## [1] 18</code></pre>
