---
title: Test
author: Nicolas
date: '2018-01-01'
slug: test
categories: []
tags: []
---



<pre class="r"><code>getwd()</code></pre>
<pre><code>## [1] &quot;/home/niko/Rstuff/m2_website_projet/content/post&quot;</code></pre>
